apiVersion: v1
kind: ConfigMap
metadata:
  name: matrix-config
  namespace: matrix
data:
  homeserver.yaml: |
    server_name: "matrix.kbrt.xyz"
    public_baseurl: "https://matrix.kbrt.xyz"
    
    # --- Ports ---
    listeners:
      - port: 8008
        tls: false
        type: http
        x_forwarded: true
        resources:
          - names: [client, federation]
            compress: false

    # --- Database ---
    database:
      name: psycopg2
      args:
        user: synapse
        password: "DB_PASSWORD_PLACEHOLDER"
        database: synapse
        host: matrix-db-rw.matrix.svc
        cp_min: 5
        cp_max: 10

    # --- Security & Auth ---
    enable_registration: false
    enable_registration_without_verification: false
    
    registration_shared_secret: "REGISTRATION_SECRET_PLACEHOLDER"
    macaroon_secret_key: "MACAROON_SECRET_PLACEHOLDER"
    
    signing_key_path: "/secrets/signing.key"

    # --- SSO (Authentik) ---
    password_config:
      enabled: false

    oidc_providers:
      - idp_id: authentik
        idp_name: Authentik
        discover: true
        issuer: "https://id.kbrt.xyz/application/o/matrix/"
        client_id: "CLIENT_ID_PLACEHOLDER"
        client_secret: "CLIENT_SECRET_PLACEHOLDER"
        scopes: ["openid", "profile", "email"]
        user_mapping_provider:
          config:
            localpart_template: "{{ user.preferred_username }}"
            display_name_template: "{{ user.name }}"
            email_template: "{{ user.email }}"

    # --- Media (S3) ---
    media_store_path: /data/media_store
    max_upload_size: 100M
    
    media_storage_providers:
      - module: s3_storage_provider.S3StorageProviderBackend
        store_local: true
        store_synchronous: true
        store_remote: true
        config:
          bucket: "assets-6a939b"
          region_name: "us-west-004"
          endpoint_url: "https://s3.us-west-004.backblazeb2.com"
          access_key_id: "ACCESS_KEY_PLACEHOLDER"
          secret_access_key: "SECRET_KEY_PLACEHOLDER"
          prefix: "media/"
          public_baseurl: "https://assets.kbrt.xyz/media/"

    # --- Metrics ---
    enable_metrics: true
    report_stats: false
