apiVersion: v1
kind: ConfigMap
metadata:
  name: mas-config
  namespace: matrix
data:
  config.yaml: |
    http:
      listeners:
        - name: web
          resources:
            - name: discovery
            - name: human
            - name: oauth
            - name: compat
          binds:
            - address: "0.0.0.0:8080"
      public_base: "https://matrix-auth.kbrt.xyz/"
      assets:
        path: "/usr/local/share/mas-cli/assets"
      templates:
        path: "/usr/local/share/mas-cli/templates"
      cors:

    database:
      uri: "postgres://mas:DB_PASSWORD_PLACEHOLDER@matrix-db-rw.matrix.svc/mas"

    telemetry:
      tracing: { enabled: false }
      logging: { level: "info" }

    upstream_oauth2:
      providers:
        - id: 01HBG9Y6B0ZEDAVZZV9TZPDZZZ
          human_name: "Authentik"
          issuer: "https://id.kbrt.xyz/application/o/matrix/"
          client_id: "CLIENT_ID_PLACEHOLDER"
          client_secret: "CLIENT_SECRET_PLACEHOLDER"
          scope: "openid profile email"
          discovery_mode: oidc
          token_endpoint_auth_method: client_secret_post

    matrix:
      homeserver: "https://matrix.kbrt.xyz"
      secret: "MAS_SHARED_SECRET_PLACEHOLDER"

    secrets:
      encryption: "ENCRYPTION_KEY_PLACEHOLDER"
      session: "SESSION_SECRET_PLACEHOLDER"
      keys:
        - kid: "01HBG9Y6B0ZEDAVZZV9TZPDZZZ"
          key_file: "/data/oidc.key"

    policy:
      wasm: "/usr/local/share/mas-cli/policy.wasm"