apiVersion: v1
kind: ConfigMap
metadata:
  name: mas-config
  namespace: matrix
data:
  config.yaml: |
    # HTTP listener
    http:
      address: "0.0.0.0:8080"
      public_base: https://matrix.kbrt.xyz/
      cors:
        allowed_origins:
          - "https://chat.kbrt.xyz"
          - "https://element.io" # Standard Element Web
          - "https://develop.element.io"

    # Database connection
    database:
      uri: "postgres://mas:DB_PASSWORD_PLACEHOLDER@matrix-db-rw.matrix.svc/mas"

    # Telemetry
    telemetry:
      tracing:
        enabled: false

    # Upstream Identity Provider (Authentik)
    upstream_oauth2:
      providers:
        - id: 01HBG9Y6B0ZEDAVZZV9TZPDZZZ
          human_name: "Authentik"
          issuer: "https://id.kbrt.xyz/application/o/matrix/"
          client_id: "CLIENT_ID_PLACEHOLDER"
          client_secret: "CLIENT_SECRET_PLACEHOLDER"
          scope: "openid profile email"
          discovery_mode: oidc
          token_endpoint_auth_method: client_secret_post

    # Matrix Homeserver Integration
    matrix:
      homeserver: "http://matrix.matrix.svc.cluster.local:80"
      secret: "MAS_SHARED_SECRET_PLACEHOLDER"

    # Encryption keys
    secrets:
      encryption: "ENCRYPTION_KEY_PLACEHOLDER"
      session: "SESSION_SECRET_PLACEHOLDER"

    # Clients
    clients:
      - client_id: 01HBG9Y6B0ZEDAVZZV9TZPDZZZ
        client_auth_method: client_secret_post
        client_secret: "MAS_SHARED_SECRET_PLACEHOLDER"
