apiVersion: v1
kind: ConfigMap
metadata:
  name: synapse-config
  namespace: matrix
data:
  homeserver.yaml: |
    server_name: "kbrt.xyz"
    public_baseurl: "https://matrix.kbrt.xyz"
    
    listeners:
      - port: 8008
        tls: false
        type: http
        x_forwarded: true
        resources:
          - names: [client, federation]
            compress: false

    database:
      name: psycopg2
      args:
        user: synapse
        password: "DB_PASSWORD_PLACEHOLDER"
        database: synapse
        host: matrix-db-rw.matrix.svc
        cp_min: 5
        cp_max: 10

    enable_registration: false
    registration_shared_secret: "REGISTRATION_SECRET_PLACEHOLDER"
    macaroon_secret_key: "MACAROON_SECRET_PLACEHOLDER"
    signing_key_path: "/data/signing.key"

    password_config:
      enabled: false

    # --- Discovery ---
    extra_well_known_client_content:
      "org.matrix.msc2965.authentication":
        issuer: "https://matrix-auth.kbrt.xyz/"
        account: "https://matrix-auth.kbrt.xyz/account"

    # Enable MSC3861 (Delegated Auth to MAS)
    experimental_features:
      msc3861:
        enabled: true
        issuer: https://matrix-auth.kbrt.xyz/
        client_id: 01HBG9Y6B0ZEDAVZZV9TZPDZZZ
        client_auth_method: client_secret_post
        client_secret: "MACAROON_SECRET_PLACEHOLDER"

    # Media (S3)
    media_store_path: /data/media_store
    max_upload_size: 100M
    media_storage_providers:
      - module: s3_storage_provider.S3StorageProviderBackend
        store_local: true
        store_synchronous: true
        store_remote: true
        config:
          bucket: "assets-6a939b"
          region_name: "us-west-004"
          endpoint_url: "https://s3.us-west-004.backblazeb2.com"
          access_key_id: "ACCESS_KEY_PLACEHOLDER"
          secret_access_key: "SECRET_KEY_PLACEHOLDER"
          prefix: "media/"
          public_baseurl: "https://assets.kbrt.xyz/"

    enable_metrics: true
    report_stats: false
