# Element Server Suite (ESS) Official Values v26.2.0
serverName: "kbrt.xyz"

# Synapse
synapse:
  ingress:
    host: "matrix.kbrt.xyz"
  postgres:
    host: matrix-db-rw.matrix.svc
    port: 5432
    user: synapse
    password:
      secretName: matrix-db-app
      secretKey: password
    database: synapse
    sslMode: prefer

# Matrix Authentication Service (MAS)
matrixAuthenticationService:
  ingress:
    host: "matrix-auth.kbrt.xyz"
  postgres:
    host: matrix-db-rw.matrix.svc
    port: 5432
    user: synapse
    password:
      secretName: matrix-db-app
      secretKey: password
    database: synapse
    sslMode: prefer

# Element Web
elementWeb:
  ingress:
    host: "chat.kbrt.xyz"

# Element Admin
elementAdmin:
  ingress:
    host: "matrix-admin.your.tld"

# Matrix RTC
matrixRTC:
  ingress:
    host: "matrix-calls.your.tld"

# Ingress Global Config
ingress:
  ingressClassName: traefik