# Element Server Suite (ESS) Official Values v26.2.0
serverName: "kbrt.xyz"

# Synapse
synapse:
  ingress:
    host: "matrix.kbrt.xyz"
  postgres:
    host: "matrix-db-rw.matrix.svc"
    port: 5432
    user: "synapse"
    database: "synapse"
    sslMode: "prefer"
    password:
      secret: "matrix-stack-postgres"
      secretKey: "password"
  # S3 Media Offload
  media:
    s3:
      enabled: true
      bucket: "assets-6a939b"
      region: "us-west-004"
      endpoint: "https://s3.us-west-004.backblazeb2.com"
      existingSecret: "backblaze-app-key-secret"
      accessKeySecretKey: "username"
      secretKeySecretKey: "password"
      publicBaseUrl: "https://assets.kbrt.xyz/"

# Matrix Authentication Service (MAS)
matrixAuthenticationService:
  ingress:
    host: "matrix-auth.kbrt.xyz"
  postgres:
    host: "matrix-db-rw.matrix.svc"
    port: 5432
    user: "synapse"
    database: "synapse"
    sslMode: "prefer"
    password:
      secret: "matrix-stack-postgres"
      secretKey: "password"

# Upstream OIDC (Authentik)
authentication:
  oidc:
    - id: authentik
      issuer: "https://id.kbrt.xyz/application/o/matrix/"
      clientIdSecretName: "matrix-secrets"
      clientIdSecretKey: "OIDC_CLIENT_ID"
      clientSecretSecretName: "matrix-secrets"
      clientSecretSecretKey: "OIDC_CLIENT_SECRET"

# Element Web
elementWeb:
  ingress:
    host: "chat.kbrt.xyz"

# Element Admin
elementAdmin:
  ingress:
    host: "matrix-admin.kbrt.xyz"

# Matrix RTC
matrixRTC:
  ingress:
    host: "matrix-calls.kbrt.xyz"

# Ingress Global Config
ingress:
  {}