# Element Server Suite (ESS) Official Values v26.2.0
serverName: "kbrt.xyz"

# Synapse
synapse:
  ingress:
    host: "matrix.kbrt.xyz"
  postgres:
    host: "matrix-db-rw.matrix.svc"
    port: 5432
    user: "synapse"
    database: "synapse"
    sslMode: "prefer"
    password:
      value: "PLACEHOLDER"

# Matrix Authentication Service (MAS)
matrixAuthenticationService:
  ingress:
    host: "matrix-auth.kbrt.xyz"
  postgres:
    host: "matrix-db-rw.matrix.svc"
    port: 5432
    user: "synapse"
    database: "mas" # DIFFERENT DB
    sslMode: "prefer"
    password:
      value: "PLACEHOLDER"

# Element Web
elementWeb:
  ingress:
    host: "chat.kbrt.xyz"

# Element Admin
elementAdmin:
  ingress:
    host: "matrix-admin.kbrt.xyz"

# Matrix RTC
matrixRTC:
  ingress:
    host: "matrix-calls.kbrt.xyz"

# Ingress Global Config
ingress:
  {}
