apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://traefik.github.io/charts
    chart: traefik
    targetRevision: 26.1.0 # Stable version
    helm:
      values: |
        deployment:
          kind: Deployment
        service:
          enabled: true
          type: ClusterIP
        ingressClass:
          enabled: true
          isDefaultClass: true
        ports:
          web:
            port: 8000
            expose: true
            exposedPort: 80
            protocol: TCP
          websecure:
            port: 8443
            expose: true
            exposedPort: 443
            protocol: TCP
        additionalArguments:
          - "--entryPoints.web.forwardedHeaders.trustedIPs=173.245.48.0/20,103.21.244.0/22,103.22.200.0/22,103.31.4.0/22,141.101.64.0/18,108.162.192.0/18,190.93.240.0/20,188.114.96.0/20,197.234.240.0/22,198.41.128.0/17,162.158.0.0/15,104.16.0.0/13,104.24.0.0/14,172.64.0.0/13,131.0.72.0/22"
        providers:
          kubernetesCRD:
            enabled: true
          kubernetesIngress:
            enabled: true
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
